.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-bottom: 100px;

}

.portfolio h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: #D9D9D9;
    font-size: 120px;
    letter-spacing: 10px;
    margin-bottom: 20px; 
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: #D9D9D9;
    font-size: 2em;
    letter-spacing: 10px;
}

.about h2 {
    margin-top: 120px; 
    font-size: 3em;
    margin-bottom: 70px;
    font-family: 'Inder', sans-serif;
    font-weight: bold;
    color: #D9D9D9;
}

h3 {
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 60px;
    margin-top: 40px;
    font-family: 'Inder', sans-serif;
    font-weight: bold;
    color: #D9D9D9;
}

.space {
    margin-bottom: 100px;
    margin-top: 100px; 
}
.about p, .conocimientos p {
    font-family: 'Gudea', sans-serif;
    font-weight: normal;
    font-size: 1.1em;
    color: #D9D9D9;
    text-align: justify; 
    background-color: rgba(37, 25, 43, 0.8);
    max-width: 900px; 
    width: auto;
    margin: 20px;
    padding: 25px;
}
span {
    font-size: 25px;
}

@media (max-width: 768px) {
    .about {
        display: flex;
        flex-direction: column;
    }
    
    .about h2 {
        margin-top: 100px;
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.8em;
    }

    .about p, .conocimientos p {
        font-size: 1em;
    }

}

@media (max-width: 768px) {
    .portfolio {
        justify-content: center; 
        align-items: center; 
        margin-bottom: 200px;

    }

    .portfolio h1 {
        font-size: 2em; 
        margin-bottom: 10px; 
    }

    .portfolio span {
        font-size: 1em; 
    } 
}

@media only screen and (max-width: 1080px) {
    p {
        font-size: 2em;
    }

    .portfolio h1 {
        font-size: 3em; 
        margin-bottom: 10px; 
    }

    .portfolio span {
        font-size: 1em; 
    }
}
