.customNavbarWrapper .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.Navlink custom-nav-link {
    font-size: 1rem;
}

.expandedMenuLinkStyle {
    font-size: 1rem;
}