.App {
  text-align: center;
  display: grid;
  font-size: 16px;
  height: 100vh;
  height: 100dvh;
  justify-content: center;
  
}

.selectingcolor {
  color:aqua;
}

/*
.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none; 
  mix-blend-mode: difference;
  transform: scale(2);
  transition: transform 0.1s ease; 
}

.cursor a:hover {
  transform: scale(8);
}


@media (max-width: 768px) {
  .cursor {
    display: none; 
  }
}

*/




/*
@media screen and (min-width: 768px) {
  .cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    transform: scale(3);
    transition: transform 0.1s ease;
  }

  a:hover ~ .cursor {
    transform: scale(8);
  }
}
*/